<div class="background">
    <div style="text-align: center; align-content: center; margin: auto; justify-content: center; display: flex; "> <!-- Stil za centriranje i razmak ispod -->
      <div style="margin-top: 50px;" >
        <mat-icon style="color: black;">
          computer
        </mat-icon>
        &nbsp;
        <h1 style="display: inline; color: black;">Internet Forum</h1> <!-- Naziv iznad kartice -->
      </div>
    </div>
    <mat-card>
        <form [formGroup]="registrationForm">
          <mat-card-header>
            <mat-card-title> 
              Registration
            </mat-card-title>        
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="register()" type="button" [disabled]="!registrationForm.valid" mat-button >Register</button>
          </mat-card-actions>
         
        </form>
      </mat-card>
     
  </div>