<app-header-template></app-header-template>
<div>
  <div>
      <div  style="padding-top: 100px; padding-bottom: 50px; display: flex; justify-content: center; margin: auto;" class="card-container">
        <div class="card" *ngFor="let comment of comments" >
          <div style="display: flex; justify-content: right;">
            <button (click)="acceptComment(comment)" style="background-color: greenyellow; margin-right: 10px;" mat-button >Accept</button>
            <button (click)="editComment(comment)" style="background-color: orange; margin-right: 10px;" mat-button >Edit</button>
            <button (click)="denyComment(comment)" style="background-color: lightcoral;" mat-button >Deny</button>
          </div>
          <div>
              <p>{{comment.content}}</p>
          </div>
          <div>
              <h3>Comment by: <span style="font-weight: bold;">{{ comment.userByUserIdUsername}}</span></h3>
          </div>
          <div style="display: flex; justify-content: right; margin: auto;">
            <p>{{comment.date}}&nbsp;{{comment.time}}</p>
            <button [disabled]="true" style="background-color: darkgray; margin-top:30px;" mat-button>{{comment.categoryByCategoryIdName}}</button>
        </div>
        </div>
     </div>
  </div>
</div>